.machine-details {
  padding: 20px;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.details-table th, .details-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.details-table th {
  background-color: #f2f2f2;
}

.add-button, .delete-button, .set-manager-button, .create-report-button {
  margin: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.add-button {
  background-color: #4CAF50;
  color: white;
}

.delete-button {
  background-color: #f44336;
  color: white;
  display: none; /* Hidden by default */
}

.task-item:hover .delete-button, .observation-item:hover .delete-button, .image-item:hover .delete-button, .specialist-item:hover .delete-button {
  display: inline-block; /* Show on hover */
}

.set-manager-button {
  background-color: #ff9800;
  color: white;
}

.create-report-button {
  background-color: #008CBA;
  color: white;
  padding: 10px 20px;
  display: block;
  margin: 20px 0;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-add-button, .modal-delete-button, .modal-close-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.modal-add-button {
  background-color: #4CAF50;
  color: white;
}

.modal-delete-button {
  background-color: #f44336;
  color: white;
}

.modal-close-button {
  background-color: #008CBA;
  color: white;
}

.specialists-section {
  margin-top: 20px;
}

.specialists-list {
  list-style-type: none;
  padding: 0;
}

.specialist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.submachine-image {
  max-width: 100px;
  height: auto;
  margin: 10px 0;
}
